/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
    color: white;
    text-decoration: none;
    word-wrap: break-word;
}

:root {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #37334F;
}

/* Presentation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#presentation {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/background.jpeg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    text-align: center;
    font-size: 1rem;
    overflow: auto;
}

#presentation header {
    margin: 20vh 0vh 1vh 0vh;
}

#presentation header h1 {
    font-size: 2rem;
}

#presentation section p {
    font-size: 1.1rem;
}

#presentation header img {
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 50px black;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .6);
    cursor: pointer;
    transition: 1s;
}

#presentation header img:hover {
    box-shadow: 0px 0px 100px black;
}

#presentation section {
    margin-bottom: 4vh;
}

#presentation button {
    background: none;
    padding: 15px 35px 15px 35px;
    border: 1.2px solid white;
    border-radius: 35px;
    cursor: pointer;
    outline: none;
    transition: .5s;
}

#presentation button:hover {
    background-color: white;
    color: rgba(0, 0, 0, .8);
}

#presentation section ul li {
    display: inline-block;
    margin: 0rem .2rem 0rem .2rem;
}

#presentation section ul li img {
    height: 2rem;
    cursor: pointer;
}

/* Article
–––––––––––––––––––––––––––––––––––––––––––––––––– */
article {
    display: none;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 75%;
    padding: 0% 5% 0% 5%;
    margin-left: 25%;
    border-left: 1px solid #E6E6E6;
}

article #close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    height: 2rem;
}

/* Article > Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content {
    width: 100%;
    text-align: center;
}

article .content h1 {
    font-family: 'Playfair Display', serif;
    color: #37334F;
    font-weight: normal;
    font-size: 2.5rem;
    margin: 5rem 0rem 2rem 0rem;
    text-align: center;
    opacity: .9;
}

article .content p {
    text-align: justify;
    letter-spacing: .5px;
    font-size: 1.1rem;
    line-height: 2rem;
    opacity: .6;
    color: black;
}

article .content ul li {
    background-color: #1C1C1C;
    display: inline-block;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s;
}

article .content ul li:hover {
    background-color: black;
}

article .content a {
    letter-spacing: .5px;
    font-size: 1.1rem;
    opacity: .6;
    color: black;
    transition: .5s;
    display: block;
    margin-bottom: 1vh;
}

article .content a:hover {
    opacity: 1;
}

/* Article > Content > Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
article .content section {
    margin-bottom: 2.5vh;
    text-align: left;
}

article .content section h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #37334F;
    opacity: .9;
}

article .content section header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5vh;
}

article .content section header h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #37334F;
    opacity: .9;
    display: inline-block;
}

article .content section header time {
    color: black;
    opacity: .5;
    display: inline-block;
    text-align: right;
}

/* Article > Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
article footer {
    margin: 5rem 0rem 1rem 0rem;
}

article footer small {
    color: black;
    opacity: .5;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 350px) {
    /* Reset */
    :root {
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    /* Reset */
    :root {
        font-size: 14px;
    }

    /* Article */
    article {
        padding: 0% 1% 0% 1%;
    }

    /* Article > Content */
    article .content ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article .content ul li {
        min-width: 10rem;
        margin: .1rem;
    }

    /* Article > Content > Header */
    article .content section header {
        flex-direction: column;
    }

    article .content section header time {
        text-align: left;
    }
}

@media (min-width: 1600px) {
    /* Presentation */
    #presentation {
        background-size: 100%;
    }
}