<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Gabriel Marques">
    <meta name="description" content="My Portfolio">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gabriel Marques</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
</head>
<body>
    <main>