<div id="profile">
    <div class="content">
        <header>
            <img src="/img/gabriel.png" title="Gabriel Marques" alt="Gabriel Marques" />
            <h1>Gabriel Marques</h1>
        </header>
        <section>
            <p>Estudante de tecnologia e desenvolvedor na empresa Focus Sistemas</p>
        </section>
        <section>
            <a href="/about">
                <button title="Clique para saber mais">Saiba mais</button>
            </a>
        </section>
        <section>
            <ul>
                <li>
                    <a href="https://twitter.com/Gabriel12253894" target="_blank">
                        <img src="/img/twitter.png" title="Twitter" alt="Twitter" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100019155346643" target="_blank">
                        <img src="/img/facebook.png" title="Facebook" alt="Facebook" />
                    </a>
                </li>
                <li>
                    <a href="https://github.com/gabrielmarquesdesouza" target="_blank">
                        <img src="/img/github.png" title="GitHub" alt="GitHub" />
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div>