<article>
    <a href="/">
        <img src="/img/close.png" id="close" title="Fechar" alt="Fechar" />
    </a>
    <section class="content">
        <h1>Sobre mim</h1>
        <p>Estudante de Análise e Desenvolvimento de Sistemas pela instituição FEMA (Fundação Educacional do Município de
           Assis), começei a trabalhar com desenvolvimento WEB em 2018 (Front-End e Back-End) em uma empresa que desenvolve
           software para gestão escolar, utilizando tecnologias como HTML5, CSS3, Javascript, PHP e MySQL.</p>
        <p>Durante esse período pude participar de alguns projetos, me deparando com diversos tipos de desafios, isso me deu
           uma boa experiência em resolver problemas utilizando programação.</p>
        <p>Também gosto de me manter atualizado, em relação as novas tecnologias que surgem, ultimamente estou estudando a
           bibliocateca ReactJS.</p>
    </section>
    <section class="content">
        <h1>Experiências</h1>
        <section>
            <header>
                <h2>Focus Sistemas</h2>
                <time>Jan/2018 - Atual</time>
            </header>
            <h3>Estagiário / Desenvolvedor</h3>
            <p>Analisar problemas e melhorias para os sistemas da empresa, refatorar código, desenvolver novas funcionalidades para
               sistemas de gestão escolar.</p>
        </section>
        <section>
            <header>
                <h2>Prefeitura de Cândido Mota</h2>
                <time>Fev/2017 - Dez/2017</time>
            </header>
            <h3>Auxiliar Administrativo</h3>
            <p>Receber, verificar e registrar mercadorias, analisar a integridade dos produtos, armazenar e organizar os
               produtos, realizar controle de movimentação de estoque.</p>
        </section>
    </section>
    <section class="content">
        <h1>Habilidades</h1>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>NodeJS</li>
            <li>PHP</li>
            <li>MongoDB</li>
            <li>MySQL</li>
            <li>Git</li>
        </ul>
    </section>
    <section class="content">
        <h1>Contato</h1>
        <a href="https://wa.me/5518996635011" target="_blank">Whatsapp: (18) 99663-5011</a>
        <a href="mailto:gabriel.marquesdesouza28@gmail.com" target="_blank">E-mail: gabriel.marquesdesouza28@gmail.com</a>
    </section>
    <footer>
        <small>© <time id="year"></time> Gabriel Marques.</small>
    </footer>
</article>